.grid{

list-style-type: none;
display: grid;
grid-template-rows: auto auto auto ;
grid-template-columns: auto auto auto ;
height: 600px;
gap: 10px 10px;
}
.grid1{
    background-color: rgb(125, 127, 232);
    grid-column: 1/3;
    grid-row: 1/4;
    align-content: center;
    text-align: center;
}
.grid2{
    background-color: rgb(41, 192, 122);
    grid-row: 1/3;
    align-content: center;
    text-align: center;
}
.grid3{
    background-color: rgb(189, 217, 46);
    align-content: center;
    text-align: center;
}
.grid4{
    background-color: rgb(232, 78, 64);
    grid-row: 4/6;
    align-content: center;
    text-align: center;
}
.grid5{
    background-color: aqua;
    align-content: center;
    text-align: center;
}
.grid6{
    background-color: rgb(165, 228, 41);
    grid-column: 2/4;
    grid-row: 4/7;
    align-content: center;
    text-align: center;
}
.grid7{
    background-color: aqua;
    grid-column: 1/3;
    grid-row: 7/10;
    align-content: center;
    text-align: center;
}
.grid8{
    background-color: rgb(212, 63, 204);
    grid-row: 7/9;
    align-content: center;
    text-align: center;
}

.grid9{
    background-color: rgb(236, 158, 94);
    grid-row: 9/10;
    align-content: center;
    text-align: center;
}
.grid10{
    background-color: rgb(75, 38, 222);
    grid-row:10/12 ;
    align-content: center;
    text-align: center;
}
.grid11{
    background-color: rgb(228, 34, 157);
    align-content: center;
    text-align: center;
}
.grid12{
    background-color: rgb(227, 50, 50);
    grid-column: 2/4;
    grid-row: 10/13;
    align-content: center;
    text-align: center;
}

